.btn-bifrost {
  position: relative;
  background-color: #575759;
  color: #fff;
  overflow: hidden;
  padding: 14px 40px 14px 26px;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  &:hover {
    background-color: rgba(87, 87, 89, 0.9);
    color: #fff;
  }
  > .btn-bifrost-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    font-size: 1.8em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  > .btn-bifrost-text {
    padding-left: 65px;
  }
}
